@font-face {
    font-family: 'Futura';
    font-weight: bold;
    src: url('../type/Futura/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../type/Futura/FuturaStd-Bold.woff') format('woff'),
    url('../type/Futura/FuturaStd-Bold.ttf')  format('truetype'),
    url('../type/Futura/FuturaStd-Bold#FuturaStd-Bold') format('svg');
}

@font-face {
    font-family: 'Avenir';
    font-weight: normal;
    src: url('../type/Avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../type/Avenir/AvenirLTStd-Book.woff') format('woff'),
    url('../type/Avenir/AvenirLTStd-Book.ttf')  format('truetype'),
    url('../type/Avenir/AvenirLTStd-Book#AvenirLTStd-Book') format('svg');
}

@font-face {
    font-family: 'Avenir';
    font-style: italic;
    src: url('../type/Avenir/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),
    url('../type/Avenir/AvenirLTStd-BookOblique.woff') format('woff'),
    url('../type/Avenir/AvenirLTStd-BookOblique.ttf')  format('truetype'),
    url('../type/Avenir/AvenirLTStd-BookOblique#AvenirLTStd-BookOblique') format('svg');
}

@font-face {
    font-family: 'Avenir';
    font-weight: bold;
    src: url('../type/Avenir/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('../type/Avenir/AvenirLTStd-Medium.woff') format('woff'),
    url('../type/Avenir/AvenirLTStd-Medium.ttf')  format('truetype'),
    url('../type/Avenir/AvenirLTStd-Medium#AvenirLTStd-Medium') format('svg');
}

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

nav {
    position: absolute;
    background: rgba(255,255,255,.5);
    display: inline-block;
    right: 0;
    font-size: 16px;
    padding: 0 1em;
}

nav small {
    font-size: 10px;
    line-height: 300%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    line-height: 150%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

canvas {
    width: 100%;
    height: 100%;
}

.tenet:before, .tenet:after {
    content: " ";
    display: table;
}

.tenet:after {
    clear: both;
}

.tenet {
    color: white;
    position: absolute;
}

h1 {
    position: absolute;
    left: -.3em;
    font-size: 500px;
    line-height: 1em;
    margin: 0;
    font-family: "Futura", Helvetica, Arial, sans-serif;
    color: rgba(255,0,0,.6);
}

h2 {
    font-family: "Futura", Helvetica, Arial, sans-serif;
}

.tenet article {
    position: absolute;
    width: 21.5em;
    font-size: 60px;
    line-height: 133%;
    font-weight: bold;
}

.sidebar {
    background: white;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    top: 0;
}

.sidebar article {
    width: 29em;
    font-size: 12px;
    margin: 3em;
    line-height: 150%;
}

.close {
    font-size: 20px;
    position: fixed;
    top: .3em;
    left: 19.7em;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    color: grey;
    cursor: pointer;
}

.tenet:nth-of-type(2) {
    transform: rotateX(-60deg);
}

.tenet:nth-of-type(3) {
    transform: translateZ(-60em) rotateY(-45deg) translateY(-6em);
}

.tenet:nth-of-type(5) {
    transform: translateZ(-40em) rotateY(45deg) translateY(-20em);
}

.tenet:nth-of-type(6) {
    transform: translateZ(-24em) translateY(24em) translateX(4em) rotateX(60deg);
}

article a {
    text-decoration: underline;
}
